#Row1 { 
    background: #c7c9d3;
    color:#fff;
    height:220px;
    border-color: rgb(104, 145, 162);    
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(15, 15, 15);
    
  }
  
  #Row2 {
    background: #c7c9d3;
    color:#fff;  
    height:350px;
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(15, 15, 15);
  }
  .card{
    border: 1px solid rgba(0, 0, 0, 0)!important;
    height: 600px;
  }
  .form-details{
      margin: 10px;
      color:black;
      
  }
  input{
      padding-right: 10px;
      width: 200px;
  }
  body{
    background-image: image-set('images/01.jpg');
  }
  textarea{
    resize: none;
    width: 200px;
  }
  table{
    width: 400px;
    height: 450px;
    border-style: solid;
    background: rgb(22, 185, 185);
    color: white;
    border-radius: 2%;
  }
  label{
    padding: 13px;
  }
  #bc{
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .row{
    margin-left: 500px;
    margin-top: 15px;
  }
  #H1{
    text-align: center;
    margin: 100px;
    color:white;
  }
